/* ==========================================================================
   Typography
   ========================================================================== */

@import url(https://fast.fonts.net/cssapi/177f7279-88e7-4847-a58d-f7cfdf48d987.css);

// Fonts
$avenir: 	"Avenir LT W01_85 Heavy1475544";
$avenir_bold: "Avenir LT W01_95 Black1475556";
$georgia: 	"Georgia W01 Regular";

$base-font-size: 62.5%;

html {
    font-size: $base-font-size;
}

body{
	background-color: $white;
}

h1, .h1{
    @include fonts($avenir_bold);
    @include rem2px(30);
    @include breakpoint(mobile){
        @include rem2px(40);
    }
    @include breakpoint(tablet){
        @include rem2px(40);
    }
    @include breakpoint(website){
        @include rem2px(60);
    }
}
h2, .h2{
    @include fonts($avenir_bold);
    @include rem2px(26);
    @include breakpoint(tablet){
        @include rem2px(30);
    }
    @include breakpoint(website){
        @include rem2px(32);
    }
}
h3, .h3{
    @include fonts($georgia);
    @include rem2px(20);
    @include breakpoint(tablet){
        @include rem2px(22);
    }
    @include breakpoint(website){
        @include rem2px(28);
    }
}
h4, .h4{
	@include fonts($georgia);
    @include rem2px(18);
    @include breakpoint(website){
        @include rem2px(22);
        line-height: 30px;
    }
}
h6, .h6{
	@include fonts($georgia);
    @include rem2px(14);
    @include breakpoint(tablet){
        @include rem2px(16);
    }
    @include breakpoint(large){
        @include rem2px(18);
    }
}